vvvvvhtml, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align:baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}
    article, header, footer, aside, figure, figcaption, nav, section { 
    display:block;
    }
    body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    ol, ul {
    list-style: none;
    list-style-type: none;
    }
    
    
    .popup {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      opacity: 1;
      display: none;
      &-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 532px;
        max-width: 964px;
        padding: 28.5px 0 67px;
        background-color: #fff;
        border-radius: 20px;
        z-index: 2;
        img {
          width: 100%;
        }
      }
      &-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 1;
        cursor: pointer;
      }
      &-logo {
        width: 88px;
        height: 38px;
        padding-left: 64px;
        box-sizing: content-box;
      }
      &-close {
        position: absolute;
        right: 37.4px;
        top: 34px;
        width: 21px;
        height: 21px;
        text-align: center;
        cursor: pointer;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        width: 702.5px;
        max-width: 100%;
        height: 312px;
        margin: 0 auto;
        padding-top: 43.5px;
      }
      &-box {
        position: relative;
        width: 212px;
        height: 190px;
        border: solid 2px #1692FF;
        z-index: 1;
        &-back {
          position: relative;
          left: 15.5px;
          width: 207px;
          height: 187px;
          background: rgba(180,216,248,.35);
          transform: translateY(-92%);
        }        
      }
      &-tit {
        position: absolute;
        top: -5%;
        left: 44.5px;
        font-size: 26px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        color: #0086FC;
        background-color: #fff;
        transform: translateY(-50%);
      }
      &-txt {
        font-size: 20px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        margin-top: 26.5px;
        margin-left: 44.5px;
        margin-bottom: 13px;
        line-height: 32px;
      }
      &-txts {
        margin-left: 21.5px;
        font-size: 16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        line-height: 32px;
        color: rgb(0,134,252);
      }
      &-btn {
        display:flex;
        justify-content: center;
        align-items:center;
        max-width:480px;
        height:86px;
        margin:0 auto;
        box-sizing:border-box;
        background-color:#EF5350;
        color:#fff;
        border-radius:10px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          box-shadow: 0 5px 10px #000000;
          transition:all .3s;
          }
          &-txt {
            width: 480px;
            height: 86px;
            text-align: center;
            line-height: 86px;
            color: #fff;
            font-size:24px;
            font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
            text-decoration: none;
          }
        }
    }

    
    .header {
      background: rgba(25, 118, 210, 0.6);
      position: fixed;
      width: 100%;
      height: 80px;
      z-index: 99;
      &-inner {
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
      }
      &-logo img{
        width: 133px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 13px;
        margin-left: 80px;
      }
    }

    .gnav {
      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
      }    
      &-item {
        margin-right: 32px;
      } 
      &-items {
        font-size: 12px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        font-style: normal;
        line-height: 40px;
        color: #fff;
        text-decoration: none;
      }
      &-btn {
        display:flex;
        justify-content: center;
        align-items:center;
        width:234px;
        height:43px;
        margin:0 auto;
        box-sizing:border-box;
        background-color:#EF5350;
        color:#fff;
        font-size:16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        border-radius:14px;
        text-decoration: none;
        &:hover {
          box-shadow: 0 5px 10px #000000;
          transition:all .5s;
        }
      }      
    }

    .menu-open , .menu-close , .h-menu , .open {
      display: none;
    }

    .top {
      &-inner {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1440px;
        height: auto;
        margin: 0 auto;
        padding-top: 80px;
      }
      &-box1 {
        width: 56%;
        height: 100%;
      }
      &-wrap {
        width: 520px;
        max-width: 100%;
        padding-top: 160px;
        padding-left: 40px;
        margin: 0 auto;
        box-sizing: content-box;
      }
      &-box2 {
        max-width: 640px;
        width: 45%;
      }
      &-pic1 {
          width: 100%;
          vertical-align: bottom;
        }
      &-pic2 {
          display: none;
        }
      &-tit {
        font-size: 32px;
        margin-bottom: 16px;
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-weight: bold;
        &-sub {
          font-size: 40px;
          font-family: kozuka-gothic-pr6n, sans-serif;
          font-weight: bold;
          line-height: 56px;
          margin-bottom: 40px;
        }
      }
      &-btn {
        display:flex;
        justify-content: center;
        align-items:center;
        max-width:480px;
        height:112px;
        box-sizing:border-box;
        background-color:#EF5350;
        color:#fff;
        font-size:24px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        border-radius:20px;
        text-decoration: none;
        margin-bottom: 29px;
        &:hover {
          box-shadow: 0 5px 10px #000000;
          transition:all .5s;
        }
      }      
      &-txt {
        font-size: 16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        line-height: 32px;
      }
    }

   .topic {
     padding: 119px 0 113px;
     &-inner {
       text-align: center;
     }
     &-tits {
       font-size: 24px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       background: linear-gradient(transparent 65%, rgba(25, 118, 210,.35) 50%);
       margin-bottom: 71px;
       }
       &-list {
         max-width: 572px;
         margin: 0 auto;
       }
      &-item {
        font-size: 16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        padding: 19px 0 19px;
        border-bottom: solid 1px rgb(25, 118, 210);
      }     
     &-item:nth-child(1) {
       padding-top: 90px;
     }
   }

   .announce {
     height: 232px;
     background: linear-gradient(to right, #62B5FE, #DEEEFC);
     &-inner {
       padding: 57px 0 51px;
       text-align: center;
     }
     &-txt {
       display: inline-block;
       font-size: 48px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       line-height: 1.3;
       text-align: left;
     }
   }

  .following {
    z-index: 999;
   &-content {
     position: fixed;
     top: 300px;
     right: 0;
     -webkit-writing-mode: vertical-rl;
     -ms-writing-mode: tb-rl;
     writing-mode: vertical-rl;
     width: 63px;
     height: 204px;
     text-align: center;
     box-sizing:border-box;
     background-color:#EF5350;
     letter-spacing: 0.2em;
     line-height: 63px;
     border-radius: 12px 0 0 12px;
     z-index: 2;
    }
    &-border {
      position: fixed;
      top: 294px;
      right: 0px; 
      line-height: 63px;
      width: 75px;
      height: 216px;
      background: #EF5350;
      border: solid 1px #EF5350;
      border-radius: 12px 0 0 12px;
      z-index: 2;
      cursor: pointer;
      &-btn {
        width: 63px;
        height: 204px;
      }
     }
     &-btn {
      display: inline-block;
      position: fixed;
      top: 300px;
      right: 6px;
      width: 63px;
      height: 204px;
      font-size: 20px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      color: #fff;
      text-decoration: none;
      z-index: 3;
    }  
    &-content:hover &-btn {
      width: 63px;
      height: 204px;
      line-height: 63px;      
      background: #fff;
      color: #EF5350;
      border: solid 1px #EF5350;
      border-radius: 12px 0 0 12px;
      transition:all .8s;
     }        
     &-content:hover &-border {
       background: #fff;
       transition:all .8s;
     } 
    }  

   .strong {
     &-inner {
       width: 1105px;
       max-width: 100%;
       margin: 0 auto;
       padding-bottom: 64px;
     }
     &-top {
       text-align: center;
       padding-top: 116px;
       padding-bottom: 64px;
     }
     &-tit {
       font-size: 56px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       line-height: 72px;
       background: linear-gradient(transparent 65%, rgba(252, 143, 0,.35) 0%);
     }
     &-wrap {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-bottom: 48px;
       &:nth-child(odd) {
         flex-direction: row-reverse;         
       }
     }
     &-box {
       max-width: 555px;
     }
     &-tits {
       font-size: 24px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       padding-bottom: 20px;
     }
     &-txt {
       font-size: 16px;
       letter-spacing: 1.9;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       line-height: 32px;
     }  
   }

   .cv {
     width: 100%;
     height: 280px;
     background: linear-gradient(to right, #62B5FE, #DEEEFC);
     &-box {
       width: 100%;
       text-align: center;
     }
     &-txt {
       font-size: 16px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       padding-top: 56px;
       &-sub {
         font-size: 24px;
         font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
         padding-top: 31px;
       }
     }
     &-btn {
      display:flex;
      justify-content: center;
      align-items:center;
      max-width:480px;
      height:80px;
      box-sizing:border-box;
      background-color:#EF5350;
      color:#fff;
      font-size:24px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      border-radius:14px;
      text-decoration: none;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 48px;
      &:hover {
        box-shadow: 0 5px 10px #000000;
        transition:all .5s;
      }
     }     
     &-icon {
      padding-left: 40.5px;
    }
   }

   .merit {
     &-inner {
       width: 992px;
       max-width: 100%;
       margin: 0 auto;
       padding-bottom: 71px;
     }
      &-top {
        text-align: center;
        padding-top: 119px;
        padding-bottom: 74px;
      }
     &-tit {
      font-size: 56px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      background: linear-gradient(transparent 70% , rgba(252, 143, 0,.35) 0%);
     }
     &-br {
       display: none;
     }
     &-wrap {
       display: flex;
       justify-content: space-between;
       padding-bottom: 48px;
     }
     &-tits {
      font-size: 24px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      padding-bottom: 20px;
     }
     &-txt {
       font-size: 16px;
       font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
       line-height: 32px;
       &-sub {
         display: none;
       }
     }
   }

   .plan {
     background: rgba(33,150,243,0.07);
     &-inner {
       width: 1200px;
       max-width: 100%;
       margin: 0 auto;
     }
      &-tit {
        display: block;
        width: 180px;
        height: 25px;
        margin: 0 auto;
        font-size: 20px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        background: linear-gradient(transparent 35%, rgba(33, 150, 243,.5)0%);
      }
      &-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 112px;
      }    
      &-box {
        max-width: 370px;
        height: auto;
        box-shadow: 0px 3px 5px 1px rgba(112, 112, 112,0.5);
        background: #fff;
        padding: 0 33px;
      }
      &-top {
        padding-top: 38px;
        padding-bottom: 32px;
        text-align: center;
      }
      &-txt {
        font-size: 16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        margin-bottom: 16px;
        line-height: 32px;
      }
      &-list {
        padding-bottom: 32px;
      }
      &-item {
        font-size: 16px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        padding: 20px 0 17px;
        border-bottom: solid 1px gray;
      }
   }

   .title {
    padding-top: 124px;
    padding-bottom: 68px;
    font-size: 40px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    display: flex;
    align-items: center;
        &:before,
        &:after {
        border-top: 1px solid;
        content: "";
        flex-grow: 1;
          }
        &:before {
        margin-right: 48px;
          }
        &:after {
        margin-left: 48px;
          }
  }

  .voice {
    &-inner {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      padding-bottom: 112px;
    }
    &-item {       
        font-size: 19px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        color: #1976D2;
        text-decoration: none;
        cursor: pointer;
    }
    &-item:nth-child(4) {
      margin: 0 65px;
    }
    &-top {
      position: relative;
      width: 579px;
      margin: 0 auto;
      padding-top: 10px;
    }
    &-content {
      visibility: hidden;
      height: 322px;
    }
    &-block {
      position: absolute;
      top: 10px;
      left: -201px;
      margin-top: 62px;
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 982px;
      max-width: 100%;
      margin: 0 auto;
    }
    &-box {
      display: flex;
      justify-content: space-between;
      width: 476px;
      background: rgba(33,150,243,0.18);
      padding: 32px 33px;
      margin-bottom: 32px;
    }
    &-icon {
      padding-right: 26px;
    }
    &-name {
      font-size: 14px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      padding-top: 36px;
      padding-left: 11px;
      color: #1976D2;
      &-sub {
        font-size: 10px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        padding-top: 36px;
        padding-left: 5px;
        color: #1976D2;
      }
    }
    &-txt {
      width: 304px;
      word-break: break-all;
    }
    &-txts {
      font-size: 16px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      line-height: 24px;
    }
    &-br {
      display: none;
    }
  }

  input[name="tab_item"] {
    display: none;
  }

  #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content {
    visibility: visible;
    position: absolute;
    top: 10px;
  }

  .voice-top input:checked + .voice-item {
    background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0%);
  }

  .question {
    background: rgba(33, 150, 243, 0.07);
    &-inner {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      padding-bottom: 76px;
    }
    &-tit {
      padding-top: 124px;
      padding-bottom: 68px;
      font-size: 40px;
      font-family: a-otf-futo-go-b101-pr6n, sans-serif;
      font-style: normal;
      font-weight: bold;
      display: flex;
      align-items: center;
          &:before,
          &:after {
          border-top: 1px solid;
          content: "";
          flex-grow: 1;
            }
          &:before {
          margin-right: 48px;
            }
          &:after {
          margin-left: 48px;
          }
    }
    &-box {
      width: 1104px;
      max-width: 100%;
      margin: 0 auto;
      padding-bottom: 32px;
      &-upper {
        background: #2196F3;
        color: #fff;
        height: 96px;
        position: relative;
        z-index: 0;
        cursor: pointer;
      }
      &-lower {
        height: 96px;
        border: solid 1px rgb(161, 161, 161);
      }
    }
    &-icon {
      position: absolute;
      top: 40px;
      left: 32px;
    }
    &-txt {
      font-size: 16px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      padding: 41px 0 39px 82px;
    }
    &-open {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 23px;
      right: 27px;
      cursor: pointer;
      transition:all .3s;
      &-btn span::before,::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10%;
        width: 40px;
        height: 3px;
        border-radius: 2px;
        background: #fdfdfd;
        transform: rotate(180deg);
        transition:all .2s;
      }
      &-btn span::after {
        transform: rotate(90deg);
        transition:all .2s;
      }
    }        
  }

  .contact {
    &-inner {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 112px;
      }
    &-top {
        padding-top: 129px;
        padding-bottom: 79px;
        font-size: 56px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        display: flex;
        align-items: center;
            &:before,
            &:after {
            border-top: 1px solid;
            content: "";
            flex-grow: 1;
              }
            &:before {
            margin-right: 48px;
              }
            &:after {
            margin-left: 48px;
              }
      }
    
      &-wrap {
        display: flex;
        justify-content: space-between;
      }
      &-box {
        &-right {
          max-width: 483px;
        }
        &-left {
          max-width: 616px;
        }
      }
      &-tit {
        font-size: 23px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        margin-top: 54px;
        margin-bottom: 24px;
        span {
          background: linear-gradient(transparent 60%, rgba(252, 143, 0, .35) 0%);
        }
      }
      &-txt {
        font-size: 20px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        max-width: 480px;
        line-height: 36px;
        margin-bottom: 20px;
        &-sub {
          font-size: 14px;
          font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
          max-width: 486px;
          line-height: 30px;
        }
      }
      &-form{
        max-width: 616px;
        border-radius: 3px;
        background-color: #f6f6f6;
        vertical-align: middle;
        padding: 47px 48px 20px 20px;
        box-sizing: border-box;
        &-box{
          display: flex;
          justify-content: space-between;
          border-radius: 3px;
          padding: 0 0 10px 20px;
        }
      }
      &-item-txt ,  &-item-txtarea{
        display: block;
        max-width: 365px;
        float: right;
        width: 390px;
        height: 44px;
        padding: 6px 12px;
        font-size: 12px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        line-height: 1.42857143;
        color: #555;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid rgb(183, 183, 183);
        margin: 0;
        box-sizing: border-box;
        border-radius: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }
      &-item-txts {
        display: block;
        width: 180px;
        height: 44px;
        padding: 6px 12px;
        font-size: 12px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        line-height: 1.42857143;
        color: #555;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid rgb(183, 183, 183);
        box-sizing: border-box;
        border-radius: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }
      &-item-txtarea {
        height: 112px;
      }
      &-label {
        margin-bottom: 0;
        text-align: left;
        width: 113px;
        float: left;
        position: relative;
        line-height: 44px;
        font-size: 11px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        min-height: 1px;
        padding-right: 40px;
        padding-left: 15px;
      }
      &-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &-item:nth-child(1) {
        margin-right: 5px;
      }
      &-mark {
        color: red;
      }
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 334px;
        height: 70px;
        box-sizing: border-box;
        background-color: #EF5350;
        color: #fff;
        font-size: 24px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        border-radius: 14px;
        text-decoration: none;
        margin: 21px 92px 26px 122px;
        margin-top: 21px;
        margin-bottom: 26px;
        &:hover {
          box-shadow: 0 5px 10px #000000;
          transition:all .5s;
        }
        &-txt {
          display: none;
        }
      }
  }

  .add {
    background: #B4D8F8;
    &-inner {
      display: flex;
      justify-content: center;
      height: 146px;
      margin: 0 auto;
      align-items: center;
    }
    &-txt {
      font-size: 24px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      line-height: 40px;
      &-sub {
        display: none;
      }
    }
    &-code {
      display:flex;
      justify-content: center;
      align-items:center;
      cursor: pointer;
      width:114px;
      height:114px;
      box-sizing:border-box;
      border: solid 1px gray;
      background-color:#fff;
      font-size:12px;
      font-family: kozuka-gothic-pr6n, sans-serif;
      margin-left: 45px;
    }
  }

  .footer {
    &-inner {
      height: 80px;
      background: #1976D2;
    }
    &-txt {
      text-align: center;
      font-size: 24px;
      font-family: kozuka-gothic-pr6n, sans-serif;
      font-weight: bold;
      color: #fff;
      line-height: 80px;
      vertical-align: middle;
    }
    &-br {
      display: none;
    }
    &-box {
      display: none;
    }
    &-btn {
      display: none;
    }
  }

  @media screen and (min-width:2000px) {
    .to {
      &-wrap {
        width: 900px;
        padding-top: 280px;
      }
      &-tit {
        font-size: 40px;
        margin-bottom: 40px;
        &-sub {
          font-size: 50px;
          margin-bottom: 35px;
        }
      }
      &-box2 {
        max-width: 100%;
      }
      &-btn {
        margin-bottom: 45px;
      }
    }
  }


  @media screen and (max-width:1300px) {
    .top {
      &-wrap {
        padding-top: 60px;
      }
    }

    .topic {
      padding: 60px 0 80px;
    }
  }

  @media screen and (max-width:1200px) {
    .plan {
      &-wrap {
        display: block;
        width: 100%;
      }
      &-box {
        margin: 0 auto;
        margin-bottom: 36px;
      }
    }

    .contact {
      &-wrap {
        display: block;
        width: 100%;
      }
      &-box {
        &-right{
          margin: 0 auto;
          padding-bottom: 41px;
        }        
        &-left {
          margin: 0 auto;
        }
      }
    }
  }

  @media screen and (max-width:1100px) {
    .gnav {
      display: none;
    }
    .menu {
      &-open {
          position: absolute;
          top: 0;
          right: 0;
          width: 80px;
          height: 80px;
          display: block;
          cursor: pointer;
          span{
              background: transparent;               
              width: 32px;
              height: 3px;
              margin: auto;
              display: inline-block;
              position: absolute;
              top: 0;
              right: 10px;
              bottom: 0;
              left: 0;
              transition: background-color 0s;
              &::before {
                  top: 0px;
                  content: '';
                  background :#fff;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  right: 0;
                  transform: rotate(135deg);
                  transition: transform .3s, top .3s, background-color 0s;
              }
              &::after {
                  top: 0px;
                  content: '';
                  background: #fff;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  right: 0;
                  transform: rotate(225deg);
                  transition: transform .3s, top .3s, background-color 0s;
              }
          }
      }
      &-close span{
          background: #fff;
          &::before {
              top: -9px;
              transform: none;
          }
          &::after {
              top: 9px;
              transform: none;
          }
      }
  }

  .h-menu{
      background: #B4D8F8;
      width: 100%;
      height: 100%;
      padding-top: 80px;
      position: fixed;
      box-sizing: border-box;
      top: 0;
      left: 0;
      z-index: 9;
      overflow: auto;
      transition-property: transform;
      transition-duration: 0.9s;
    &-list {
      text-align: center;
    }
    &-item {
      line-height: 100px;
      padding-top: 50px;
    }
    &-btn {
      font-size: 35px;
      font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
      color: #0086FC;
      text-decoration: none;
    }
  }

    .top {
      &-inner {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
      }
      &-box1 {
        margin: 0 auto;
        width: 100%;
      }
      &-wrap {
        padding-left: 0;
      }
      &-block {
        max-width: 450px; 
        width: 100%;
        margin: 0 auto;
      }
      &-box2 {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        padding-top: 80px;
      }
      &-pic1 {
        display: none;
      }
      &-pic2 {
        display: block;
        width: 100%;
      }
      &-tit {
        text-align: center;
        &-sub {
          text-align: center;
        }
      }      
    }

    .following  {
      visibility: hidden;
    }

    .strong {
      &-inner {
        padding: 0 15px 0 15px;
      }
      &-wrap {
        display: block;
        padding-bottom: 56px;
      }
      &-img {
        width: 100%;
        padding-bottom: 40px;
      }
      &-box {
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width:1000px) {
    .popup{
      &-inner {
        width: 96%;
        height: 617px;
        padding: 25px 0 15px;
      }
      &-logo {
        padding-left: 16px;
      }
      &-close {
        top: 26px;
        right: 19px;
      }
      &-content {
        display: block;
        width: 317px;
        height: 422px;
        padding-top: 21px;
      }
      &-wrap {
        height: 133px;
      }
      &-tit {
        font-size: 21px;
        left: 103px;
      }
      &-box {
        width: 312px;
        height: 96px;
        &-back {
          width: 312px;
          height: 96px;
          top: 4px;
          left: 11px;
        }
      }
      &-br {
        display: none;
      }
      &-txt {
        font-size: 18px;
        margin-top: 17px;
        margin-left: 17px;
        margin-bottom: 0;
      }
      &-txts{
        &-sub{
          display: none;
        }
      }
      &-btn {
        max-width: 329px;
        height: 80px;
        &-txt {
          font-size: 21px;
        }
      }
    }

    .announce {
      &-txt {
        font-size: 35px;
      }
    }

    .strong {
      &-tit {
        font-size: 35px;
      }
    }

    .merit {
      &-inner {
        padding-right: 15px;
        padding-left: 15px;
      }
      &-tit {
        font-size: 35px;
      }
      &-wrap {
        display: block;
      }
      &-box {
        width: 100%;
        margin: 0 auto;
      }
      &-img {
        width: 100%;
      }
      &-txt {
        &-sub {
          display: inline;
        }
      }
    }

    .voice {
      &-content {
        height: 650px;
      }
      &-block {
        width: 476px;
        left: 51px;
      }
      &-wra {
        display: block;
      }
      &-box {
        margin: 20px auto;
      }
    }

    .contact {
      &-top {
        font-size: 26px;
        width: 348px;
        margin: 0 auto;
        &-dot {
          display: none;
        }
        &:before , &:after {
          content: none;
        }
      }
      &-box {
        &-right {
         padding: 0 15px 41px;
        }
      }
    }
  }

  @media screen and (max-width:700px) {
    .header {
      height: 35px;
      &-logo img{
        width: 64px;
        height: 26px;
        margin-top: 4px;
        margin-left: 27px;
      }
    }

    .menu{
    &-open{
      width: 57px;
      height: 35px;
      span {
        width: 24px;
        height: 1px;
        &:before {
          top: 0px;
        }
        &:after {
          top: 0px;
          }
        }
      }
      &-close {
        span{
          &:before {
            top: -7px;
          }
          &:after {
          top: 7px;
        }
      }
    }
    }

    .h-menu {
      padding-top: 97px;
      &-item {
        padding: 0;
        line-height: 1px;
        padding-bottom: 53px;
      }
      &-btn {
        font-size: 18px;
      }
    }

    .top {
      &-box2 {
        padding-top: 35px;
      }
      &-tit {
        font-size: 21px;
        &-sub {
          font-size: 25px;
        }
      }
      &-btn {
        max-width: 345px;
        height: 53px;
        font-size: 19px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-block {
        max-width: 345px;
        margin: 0 auto;
      }
      &-txt {
        font-size: 10px;
        line-height: 12px;
        max-width: 280px;
        margin: 0 auto;
      }
    }


    .topic {
      &-inner {
        padding: 0 15px;
      }
      &-tits {
        font-size: 21px;
      }
      &-item {
        font-size: 14px;
      }
    }

    .announce {
      height: 90px;
      &-inner {
        padding: 0px;
      }
      &-txt {
        font-size: 17px;
        line-height: 31px;
        padding: 14px 0;
      }
    }

    .strong {
      &-block {
        max-width: 325px;
        margin: 0 auto;
      }
      &-top {
        padding: 58px 0;
        text-align: left;
      }
      &-tit {
        width: 319px;
        font-size: 20px;
        line-height: 29px;
        &-sub {
          display: none;
        }
      }
      &-tits {
        font-size: 21px;
        padding-bottom: 15px;
      }
      &-txt {
        font-size: 14px;
        &-sub {
          display: none;
        }
      }
    }

    .cv {
      height: 191px;
      &-txt {
        font-size: 10px;
        padding-top: 31px;
        &-sub{
          font-size: 14px;
          padding-top: 20px;
        }
      }
      &-btn {
        max-width: 346px;
        height: 70px;
        margin-top: 18px;
        margin-bottom: 28px;
      }
    }

    .question {
      &-tit {
        font-size: 28px;
      }
      &-icon {
        top: 28px;
        left: 15px;
      }
      &-txt {
        font-size: 14px;
        padding: 33px 0 33px 48px;
      }
      &-box {
        padding-bottom: 28px;
        &-upper {
          height: 80px;
        }
        &-lower {
          height: 80px;
        }
      }
      &-open {
        top: 15px;
        right: 20px;
        &-btn span:before , :after{
          width: 20px;
          top: 50%;
          left: 50%;
        }
      }
    }

    .contact {
      &-form {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 18px;
        &-box {
          flex-direction: column;
          max-width: 345px;
          margin: 0 auto;
          padding: 0;
          &-left {
            max-width: 100%;
          }
        }        
      }
      &-label {
        padding: 0;
      }
      &-list {
        display: block;
      }
      &-item {
        padding-bottom: 6px;
        &-txt , &-txts , &-txtarea {
          width: 345px;
        }
      }
      &-btn {
        margin: 0 auto;
        margin-top: 20px;
        letter-spacing: 5px;
        &-txt {
          display: inline;
        }
      }
      &-tit {
        font-size: 17px;
      }
      &-txt {
        font-size: 14px;
        &-sub {
          font-size: 8px;
        }
      }
    }

    .merit {
      &-top {
        text-align: left;
        &-outer {
          width: 302px;
          margin: 0 auto;
        }
      }
      &-tit {
        font-size: 21px;
        line-height: 40px;
      }
      &-br {
        display: block;
      }
      &-tits {
        font-size: 21px;
      }
      &-txt {
        font-size: 14px;
      }
    }


    .plan {
      &-inner {
        padding: 0 15px;
      }
      &-wrap {
        padding-top: 23px;
        padding-bottom: 20px;
      }
      &-top {
        padding: 33px 0 10px;
      }
      &-tit {
        font-size: 17px;
        background: linear-gradient(transparent 35%, rgba(197, 239, 255,1)0%);
      }
      &-list {
        padding-bottom: 29px;
      }
      &-txt {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 24px;
      }
      &-item {
        font-size: 14px;
        padding-top: 18px;
      }
    }

    .title {
      font-size: 28px;
    }

    .voice {
      &-top {
        width: 329px;
      }
      &-item {        
          font-size: 14px;
      }
      &-item:nth-child(4) {
        margin: 0 4px;
      }
      &-content {
        position: relative;  
        height: 200px;  
      }
      &-block {
        width: 345px;
        left: -10px;
        margin-top: 19px;
      }
      &-box {
        background: rgba(197,239,255,0.35);
      }
      &-wrap {
        width: 320px;
        position: relative;
      }
      &-icon {
        display: flex;
        height: 92px;
        padding-bottom: 14px;
      }
      &-name {
        font-size: 20px;
      }
      &-txt {
        width: 262px;
      }
      &-txts {
        font-size: 10px;
        line-height: 22px;
        &-sub {
          display: none;
        }
      }
      &-br {
        display: block;
      }
      &-prev {
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -25px;
        &-btn {
          position: absolute;
          left: -7px;
          top: 53%;
          margin-top: -25px;
          z-index: 1;
        }
      }
      &-next {
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -25px;
        &-btn {
          position: absolute;
          right: -7px;
          top: 52%;
          margin-top: -25px;
          z-index: 1;
        }
      }
    }    

    .add {
      &-inner {
        display: block;
        width: 301px;
        height: 275px;
      }
      &-txt {
        font-size: 21px;
        padding-top: 35px;
        padding-bottom: 20px;
        &-sub {
          display: inline;
        }
      }
      &-box {
        width: 115px;
        margin: 0 auto;
      }
      &-code {
        width: 115px;
        height: 115px;
        margin-left: 0;
      }
    }

    .footer {
      &-txt {
        font-size: 14px;
        line-height: 2.28;
        height: 80px;
        margin: 0 auto;
        padding: 10px 0 17px;
      }
      &-br {
        display: block;
      }
    }
  }

  @media screen and (max-width:500px) {
    .question {
      &-txt {
        width: 255px;
        padding: 21px 0 24px 48px;
        line-height: 21px;
      }
    }
  }

  @media screen and (max-width:375px) {
    .top {
      &-wrap {
        padding-top: 35px;
      }
      &-tit {
        &-sub {
          line-height: 39px;
          margin-bottom: 15px;
        }
      }
      &-btn {
        margin-bottom: 15px;
      }
    }

    .topic {
      padding: 69px 0 56px;
      &-item:nth-child(1) {
        padding-top: 36px;
        padding-bottom: 17px;
      }
      &-item {
        padding: 18px 0 17px;
      }
    }

    .merit {
      &-inner {
        padding: 0 15px 56px 15px;
      }
      &-wrap {
        padding-top: 63px;
        padding-bottom: 0;
      }
      &-top {
        padding: 58px 0 5px;
      }
      &-box {
        padding-bottom: 30px;
      }
      &-pic {
        width: 100%;
        padding-top: 44.25%;
        position: relative;
        height: 175px;
      }
      &-img {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 175px;
      }
      &-tits {
        padding-bottom: 10px;
      }
      &-txt {
        line-height: 28px;
      }
    }

    .title {
      padding: 64px 15px 45px;
    }

    .strong {
      &-txt {
        line-height: 28px;
      }
      &-img {
        height: 229px;
      }
    }

    .cv{
      &-close {
        display: none;
      }
      &-btn {
        font-size: 21px;
      }
      &-icon {
        padding-left: 27px;
      }
    }

    .voice {
      &-inner {
        padding-bottom: 20px;
      }
      &-box {
        margin-bottom: 5px;
        padding: 27px 29px 30px 30px;
      }
      &-icon {
        padding-bottom: 9px;
      }
      &-name {
        padding-top: 55px;
      }
    }

    .question {
      &-inner {
        padding: 0 15px 28px;
      }
      &-tit {
        padding: 64px 0 67px;
      }
    }

    .contact {
      &-inner {
        margin-bottom: 0;
      }
      &-top {
        padding: 64px 0 0;
      }
      &-tit {
        margin-top: 67px;
        margin-bottom: 28px;
      }
      &-label {
        line-height: 25px;
      }
      &-txt {
        line-height: 21px;
        margin-bottom: 16px;
        &-sub {
          line-height: 17px;
        }
      }
      &-form {
        padding: 26px 0 28px;
        &-box {
          padding-bottom: 10px;
        }
        &-box:nth-child(3) , :nth-child(4){
          padding-top: 5px;
        }
      }      
    }

    .footer {
      padding-bottom: 54px;
      &-box {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
      }
      &-btn {
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        height:54px;
        font-size: 19px;
        font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
        margin:0 auto;
        box-sizing:border-box;
        background-color:#EF5350;
        color:#fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width:374px) {
    .popup{
      &-inner {
        height: 490px;
        padding-top: 5px;
      }
      &-close {
        top: 10px;
      }
      &-content {
        padding-top: 10px;
        height: 375px;
      }
      &-wrap {
        height: 125px;
        margin-left: 5px;
      }
      &-box {
        width: 290px;
        &-back {
          width: 290px;
          left: 6px;
        }
      }
      &-btn {
        height: 60px;
        max-width: 300px;
      }
    }
    .announce {
      &-txt {
        font-size: 15px;
      }
    }
    
    .strong {
      &-tit {
        font-size: 18px;
      }      
    }

    .voice {
      &-top {
        width: 285px;
      }
      &-block {
       width: 320px;
       left: -17px;
      }
      &-item {
        font-size: 12px;
      }
    }
  
    .question {
      &-tit {
        font-size: 25px
      }
      &-txt {
        width: 220px;
        font-size: 12px;
      }
    }

    .contact {
      &-top {
        font-size: 24px;
        width: 320px;
      }
      &-item-txt, &-item-txts, &-item-txtarea {
        width: 315px;
    }
    }
  }